/* CSS reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
#box1{
    height: 150px;
    width: 150px;
    padding: 50px;
    border: 1px solid black;
    background-color:orange;
    display: inline-block;
    vertical-align: top;

    /* Without box-sizing border-box;
    
        The exact width of our element is  252px;
        border and padding are added on the top of the width

        1px left border + 50px left padding + 150px width + 50px width right padding
        +1px left padding = 252px
    
        With box-sizing border-box;


        The exact width of our element is 150px;
        border and padding are included in the total width

        1px left border + 50pxleft padding + 48px width + 50px width right padding +1px right border  = 150px

        padding is a space within a element 
        margin is a space outside the element or outside of an element border
        
        */
}


 /* #nested-div{
    /* 
        em : is a measurement is based of the font-size of the parent element;
            Because the parent div's font-size is 10px
            2em  = 20px;
        rem (root element) :a measurement based on the font size of the root element in HTML.
        Default : 16px;
            2rem = 32px;  
    */

    /* height: 2em;
    width: 2em;
    border: 1px solid black;
    background-color:red; */

    /* 
        position allows to determine the position of the element

        position:relative;
            -it allows to move or determin the position of our element relative to where it was originall in our Html document

        left,right,top,bottom
            -these properties are used in conjunction with the position property and they determine the measurement from the said direction % as a measurement is based on the width/height of the parent element px is an exact measurement, across all devices

            vh-viewport height
            vw - viewport width

    */
    /* position: relative;
    left: 33%;
    top: 33%;
}  */  

#box2{
    height: 150px;
    width: 150px;
    padding: 50px;
    border: 1px solid black;
    background-color:yellow;
    display:inline-block;
    vertical-align:top;
}
span{
    height: 150px;
    width: 150px;
    border: 1px solid black;
    background-color:green;
    display: inline-block;
    margin-bottom:10px;
    margin-right: 30px;
}
html{
    margin-top:10px;
}
div{
    margin-bottom:10px;
    margin-right: 30px;
}

