*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* navbar  */

nav{

    padding:0.8rem;
    /* you can also specify wwhich side you will add a padding to */
    /* padding-left: 0.8rem */
    /* padding-right: 0.8rem */
    /* padding-top: 0.8rem */
    /* padding-bottom: 0.8rem */
    /* rem = root element's default font size is 16(px) = .8rem = 80% of 16px = 12.8px */
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
    background-color: #0b9b23;
    color: white;
    margin: 0.2rem;
    
}
nav > ul{
    list-style-type: none;
}

nav .nav, nav .nav-logo{
    
    margin:0.5rem;
    display: inline;
    /* display:inline; allows us to change the block element into an inine element */
    
}
img{
    width: 75px;
    height: 75px;
}

/* intro section */

#intro {

    padding-left: 10%;
    padding-right:10%;
    /* % was used to make page more responsive. So our padding on the left and right are now dependent on the width of our parent element */
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}
#intro h2, #intro p {
    margin-bottom: 1rem;
}

#intro button{
    color: white;
    font-weight:bold;
    background-color: #0b9b23;
    border-radius: 25px;
    font-size: 1rem;
    padding: 1rem;
}

/* graduate info section */

#graduate-section{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
#graduate-section h2 {
    margin-bottom: 1rem;
    text-align: center;
}
#graduate-section h3 {
    margin-bottom: 1rem;
    text-align: center;
}
#graduate-section .card {
    display: inline-block;
    vertical-align: top;
    min-height: 175px;
    width: 30%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* border: 1px solid green; */
}


/* pre-footer */

#pre-footer {
    padding: 1rem;
    background-color:#0b9b23;
    color: white;
    margin: 0.6rem;
}

#pre-footer > div {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
#pre-footer > div > * {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}   

/* footer */
footer {
    padding: 0.7rem;
    text-align: center;
    margin-bottom: 0.5rem;

}
footer span{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}