*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 100%;
    font-family: 'Share Tech Mono', monospace;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#home .heading{
    padding-top: 15rem;
    text-align: center;
    color: #fff;
    font-size: 6rem;
}
#home .low-heading{
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding-left:450px;
    padding-right: 450px;
}
#home .main-btn{

    text-align: center;
    margin-left: 680px;
    margin-top: 30px;
    border-radius:20px;
    padding:10px;
    background-color: transparent;
    color:white;
    border: 1px solid white;

}
#home .main-btn a{
    text-decoration: none;
    color: white;
}

#home{
    background-color: #59405C;
    background-image: url(../img/intro.jpg)
 }
 
#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    height: 110vh;
    position: relative;
}
/* Card */

#Products{
    background-color: black;
    color: white;
    
    
}
#Products .id-holder{
    margin-left: 250px;
    margin-right: 250px;
}
#Products .header{
    text-align:left;
    padding-top: 3rem;
    font-size: 3rem;
    padding-left: 20px;
}
#Products .test-border{
    border: 1px solid white;
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 10px;
    display:inline-block;
    text-align: center;
}
#Products img{
    width: 247px;
    height: 150px;
    border-radius: 10px;
    
}
#Products .product-title{
    text-align: center;
    padding-top: 10px;
}
#Products button{
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
}
#Products button:hover{
    background-color: white;
    color: black;
}
/* end Card */
/* Pre-footer*/
#pre-footer{
    width: 100%;
    height: 15vh;
    position: relative;
    padding: 1rem;
    margin: 0.5rem;
    background-color:white;  
}
#pre-footer > div {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

#pre-footer > div > * {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}  

/* End of Pre-footer*/
/* Footer */

footer {
    padding: 0.5rem;
    text-align: center;
    /* margin-bottom: 0.1rem; */
    font-size: 0.9rem;

}
footer span{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

/* End of Footer */

